.TextContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ClickableText {
  cursor: pointer;
  transition: all 0.5s ease;
}
.ClickableText:hover {
  background-color: lightgray;
}
.Selected{
  background-color: lightgray;
}

.YouTubeIframeWrapper {
  overflow: hidden;
  transition: opacity 1s ease; /* Transition for opacity */
}

.YoutubeIframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  /* height: 50vh; Adjust height as needed */
  opacity: 0; /* Initially invisible */
  transition: opacity 1s ease; /* Transition for opacity */
}