/* Define your color palette */
:root {
  --primary-color: #f79221; /* Cambiado a color primario */
  --secondary-color: #ef2647; /* Cambiado a color secundario */
  --background-color: #0b9444; /* Cambiado a color de fondo */
  --text-color: #ffc700; /* Cambiado a color de texto */
}
/* Apply styles to the table */
.container {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  box-sizing: border-box;
}
/* Apply styles to the row */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between rows */
}

.row-item {
  flex: 1;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row-item:first-child {
  margin-right: 10px; /* Adjust spacing between row items */
}

.row-item:last-child {
  margin-left: 10px; /* Adjust spacing between row items */
}

.row-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.row-item p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Apply styles to the card */
.card {
  width: 90vw;
  max-width: 100%; /* Set a maximum width for larger screens */
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 30px 15px;
  box-sizing: border-box;
  margin: 100px auto; /* Center the card horizontally and provide margin at the top and bottom */
  overflow-x: auto; /* Add horizontal scrollbar */
  overflow-y: auto;
}

.scrollable-table {
  max-height: 400px; /* Set a fixed height */
  overflow-x: auto; /* Add horizontal scrollbar */
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  scroll-snap-align: start;
  min-width: 100%;
}

th,
td {
  padding: 12px;
  text-align: left;
}

thead {
  background-color: var(--primary-color);
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

td {
  border-bottom: 1px solid #ddd;
}

th:first-child,
td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

th:last-child,
td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container h1 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .card {
    width: 90%; /* Adjust width for smaller screens */
    padding: 20px;
    overflow-x: auto; /* Reduce padding for smaller screens */
  }
  .table {
    font-size: 14px; /* Reduce font size for smaller screens */
    width: 90%;
  }

  .row-item {
    margin-right: 0; /* Remove margin between row items for smaller screens */
    margin-left: 0; /* Remove margin between row items for smaller screens */
  }

  .row-item:first-child {
    margin-bottom: 10px; /* Adjust spacing between row items for smaller screens */
  }
}

@media (max-width: 576px) {
  .card {
    width: 90%; /* Further adjust width for even smaller screens */
    padding: 15px;
    overflow-x: auto; /* Further reduce padding for even smaller screens */
  }
  .table {
    font-size: 12px; /* Further reduce font size for even smaller screens */
    width: 100%;
  }
}
/* Ensure table stays inside the card */
.card {
  overflow-x: auto; /* Add horizontal scrollbar if table exceeds card width */
}
